.card-view {
  overflow: hidden;
  width: 100%;
  max-width: var(--content-width);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: var(--navigation-height) max-content 4fr 8fr 4fr;
  gap: var(--g-20);
  grid-template-areas:
    "card-navigation card-navigation"
    "card-description card-description"
    "question-card extended-answer-card"
    "short-answer-card extended-answer-card"
    "short-answer-card extended-answer-card";
}

.card-navigation {
  grid-area: card-navigation;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--g-20);
}

.card-description {
  grid-area: card-description;
  text-align: center;
}

.card-description__text {
  padding: 0 var(--p-10);
}

.question-card {
  grid-area: question-card;
}

.short-answer-card {
  grid-area: short-answer-card;
}

/* .keywords-card {
  grid-area: keywords-card;
}

.keywords-card > .card__content {
  display: flex;
  align-items: center;
  row-gap: var(--g-20);
  column-gap: var(--g-20);
  flex-wrap: wrap;
} */

.extended-answer-card {
  grid-area: extended-answer-card;
}
