.header {
  font-weight: var(--text-font-weight);
  width: 100%;
  padding: var(--p-16);
  background-color: var(--main-color);
  color: var(--light-font-color);
  display: flex;
  justify-content: center;
}

.header__content {
  width: 100%;
  max-width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--g-20);
}

.create-dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2.8rem;
  width: max-content;
  margin-top: -1rem;
  padding-top: 3rem;
  z-index: 1;
}

.create-dropdown > .dropdown-content {
  right: calc(-50% - 1.2rem);
}

.create-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-list {
  padding: var(--p-10);
  display: flex;
  flex-direction: column;
  gap: var(--g-10);
  background: var(--main-color);
  border-radius: var(--button-radius);
}

.dropdown-list__item {
  border-bottom: 1px solid transparent;
}

.dropdown-list__item:hover {
  color: var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
}

.profile {
  position: relative;
}

.profile > .dropdown-content {
  right: 0;
}

.profile:hover {
  cursor: pointer;
}

.profile:hover .dropdown-content {
  display: block;
}

.profile-short-info {
  display: flex;
  align-items: center;
  gap: var(--g-10);
}

.profile__logo {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.profile__text {
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-full-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-text {
  opacity: 0.6;
}

.profile-log-out:hover {
  color: darkred;
}
