.header{
  font-weight: var(--text-font-weight);
  width: 100%;
  padding: var(--p-16);
  background-color: var(--main-color);
  color: var(--light-font-color);
  display: flex;
  justify-content: center;
}

.header__content{
  width: 100%;
  max-width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--g-20);
}

.search-profile__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile:hover{
  cursor: pointer;
}

.profile:hover > .profile__text{
text-decoration: underline;
}

.profile__logo {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.profile__text {
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}