.sign-in {
  padding: calc(var(--p-20) * 2);
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--g-20) * 2);
}

.sign-in__title {
  color: var(--main-color);
  text-shadow: 1px 1px 4px #0000006d;
  font-size: var(--first-title-font-size);
  font-weight: var(--title-font-weight);
  text-align: center;
}

.sing-in-form {
  display: flex;
  flex-direction: column;
  gap: var(--g-20);
}
