:root {
  --main-color: #276678;
  --main-bg-color:#D3E0EA;
  --card-color: #FFFFFF;
  --border-color: lightgray;
  --border-hover-color: black;
  --shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);

  /* Dimensions */
  --content-width: 1440px;
  --card-radius: 1.6rem;
  --button-radius: .5rem;
  --header-height: 74px;

  /* Paddings */
  --p-20: 20px;
  --p-10: 10px;
  --p-16: 16px;
  --g-20: 20px;
  --g-10: 10px;

  /* Texts */
  --light-font-color: #FFFFFF;
  --dark-font-color: black;
  --main-font-size: 16px;
  --main-font-weight: 700;
  --text-font-size: 16px;
  --text-font-weight: 400;
  --title-font-size: 36px;
  --title-font-weight: 700;
}