:root {
  --main-color: #276678;
  --main-bg-color:#D3E0EA;
  --light-font-color: #FFFFFF;
  --dark-font-color: black;
  --card-color: #FFFFFF;
  --border-color: lightgray;
  --border-hover-color: black;
  --shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);

  /* Dimensions */
  --content-width: 1440px;
  --card-radius: 1.6rem;
  --button-radius: .5rem;
  --header-height: 74px;

  /* Paddings */
  --p-20: 20px;
  --p-10: 10px;
  --p-16: 16px;
  --g-20: 20px;
  --g-10: 10px;

  /* Font */
  --main-font-size: 16px;
  --main-font-weight: 700;
  --text-font-size: 16px;
  --text-font-weight: 400;
}