<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/shared.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/card-view.css}">
    <title>Flashcards</title>
</head>

<body>
<div class="wrapper">
    <header class="header" th:insert="header :: header_fragment"></header>
    <main class="main">
        <section class="card-view" th:object="${card}">
            <div class="navigation card-navigation">
                <a class="button bg-dark dark-border" th:href="@{/folder/{id}(id=*{folderId})}">Go to folder</a>
                <a class="button bg-dark dark-border" th:href="@{/set/{id}(id=*{setOfCardsId})}">Go to set</a>
                <a class="button bg-dark dark-border auto-margin-left" th:href="@{/card/{id}(id=*{previousOrLastCardId})}">&#60; Previous Card</a>
                <a class="button bg-dark dark-border auto-margin-right" th:href="@{/card/{id}(id=*{nextOrFirstCardId})}">Next Card &#62;</a>
                <a class="button bg-dark dark-border" th:href="@{/card/{id}/edit(id=*{id})}" title="Edit card">Edit</a>
                <a class="button bg-dark dark-border" th:href="@{/card/{id}/delete(id=*{id})}">Delete</a>
            </div>
            <div class="card-description">
                <p class="card-description__text second-title" th:text="|*{folderName}: *{setOfCardsName}|" title="Folder name: Set name">
                </p>
            </div>
<!--            into set:-->
<!--            <h2 class="second-title set-title" th:text="|${setOfCards.folder.name}: ${setOfCards.name}|" title="Folder name: Set name">Folder name: Set name</h2>-->

            <div class="card question-card" title="Question">
                    <textarea readonly class="card__content"  th:text="|*{question}|">Question</textarea>
            </div>
            <div class="card short-answer-card" title="Short answer">
                    <textarea readonly class="card__content" th:text="|*{shortAnswer}|">Short answer does not exist</textarea>
            </div>
            <div class="card extended-answer-card" title="Extended answer">
                    <textarea readonly class="card__content" th:text="|*{longAnswer}|">Extended answer does not exist</textarea>
            </div>
        </section>
    </main>

</div>
</body>

</html>