<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/variables.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/shared.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/learning-view.css}">
  <title>Flashcards</title>
</head>

<body>
  <div class="wrapper">
    <header class="header" th:insert="header :: header_fragment"></header>
    <main class="main">
      <div class="learning-view hidden-scroll" th:object="${card}">
        <div class="navigation learning-navigation">
          <a th:href="@{/set/{id}(id=*{setOfCardsId})}" class="button bg-dark dark-border" href="#">Go to set</a>
        </div>
        <h2 class="second-title learning-title" th:text="|*{folderName}: *{setOfCardsName}|" title="Folder name: Set name"></h2>
        <div class="card learning-card">
          <div class="learning-cards">
            <div id="card-question" class="card__content content-with-title">
              <h2 class="second-title" title="Question">Question</h2>
              <textarea  class="card__content" th:text="|*{question}|" readonly>
              </textarea>
            </div>
            <div id="card-short-answer" class="card__content content-with-title">
              <h2 class="second-title" title="Short answer">Answer</h2>
              <textarea class="card__content" th:text="|*{shortAnswer}|" readonly>
              </textarea>
            </div>
            <div id="card-extended-answer" class="card__content content-with-title">
              <h2 class="second-title" title="Extended answer">Extended-answer</h2>
              <textarea class="card__content" th:text="|*{longAnswer}|" readonly>
              </textarea>
            </div>
          </div>
          <div class="card__navigation">
            <a id="question" class="button bg-dark dark-border card__navigation-button"
              href="#card-question">Question</a>
            <a id="short-answer" class="button bg-dark dark-border" href="#card-short-answer">Short answer</a>
            <a id="extended-answer" class="button bg-dark dark-border" href="#card-extended-answer">Extended answer</a>
          </div>
        </div>
        <div class="cards-navigation">
          <a class="button light-border decline-button learning-button" th:href="@{/card/{id}/learning(id=*{previousOrLastCardId})}">&#60; Previous Card</a>
          <a class="button light-border accept-button learning-button" th:href="@{/card/{id}/learning(id=*{nextOrFirstCardId})}">Next Card &#62;</a>
        </div>
      </div>
    </main>
  </div>
</body>

</html>