<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/variables.css">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/shared.css">
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/edit-folder-view.css">
  <title>Flashcards</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__content">
        <a href="#" class="button bg-dark light-border">Flashcards</a>
        <input class="input bg-dark light-border light-placeholder auto-margin-left" type="text" placeholder="Search">
        <div class="button bg-dark light-border extra-bold-text create-dropdown">
          <span>+</span>
          <div class="dropdown-content">
            <ul class="dropdown-list">
              <li class="dropdown-list__item">
                <a href="./edit-card-view.html">New card</a>
              </li>
              <li class="dropdown-list__item">
                <a href="./edit-set-view.html">New set</a>
              </li>
              <li class="dropdown-list__item">
                <a href="./edit-folder-view.html">New folder</a>
              </li>
            </ul>
          </div>
        </div>
        <a href="#" class="button bg-dark light-border extra-bold-text">?</a>
        <div class="profile">
          <div class="profile-short-info">
            <div class="profile__logo">
              <img class="user-photo" src="./img/user-image.png" alt="user photo">
            </div>
            <p class="profile__text">User Name</p>
          </div>
          <div class="dropdown-content">
            <ul class="dropdown-list">
              <li class="profile-full-name info-text">
                <p>FirstName</p>
                <p>LastName</p>
              </li>
              <li class="info-text">
                <p>SomeEmail@gmail.com</p>
              </li>
              <li class="dropdown-list__item">
                <a href="#">Open profile</a>
              </li>
              <li class="profile-log-out">
                <a href="./">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
<!--    <header class="header" th:insert="header :: header_fragment"></header>-->

    <main class="main">
      <div class="folder-edit-view hidden-scroll">
        <div class="navigation folder-edit-view-nav">
          <a href="#" class="button bg-dark dark-border">&#60; Back (not implemented)</a>
          <button class="button bg-dark dark-border auto-margin-left">New set (not implemented)</button>
          <button class="button bg-dark dark-border" type="submit" form="folder-edit-form">Save</button>
        </div>
        <form class="folder-edit-form" id="folder-edit-form" th:action="@{/folder/create}" th:object="${folder}" th:method="POST">
          <div class="card folder-name">
            <input class="card__content dark-placeholder" type="text" name="set-name" id="set-name"
                   th:field="*{name}" placeholder="Enter name of folder *" required>
          </div>
          <div class="card folder-description">
            <textarea class="card__content" name="folder" id="folder"
                      th:field="*{description}" placeholder="Enter a description for the folder"></textarea>
          </div>
<!--          <div class="card folder-visibility">-->
<!--            <div class="card__content">-->
<!--              <h2 class="list-title">Visibility:</h2>-->
<!--              <ul class="horizontal-list">-->
<!--                <li class="list__item">-->
<!--                  <input type="radio" id="public" name="visibility" value="public">-->
<!--                  <label for="ordered">Public</label>-->
<!--                </li>-->
<!--                <li class="list__item">-->
<!--                  <input type="radio" id="private" name="visibility" value="random" checked>-->
<!--                  <label for="random">private</label>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
        </form>
<!--        <div class="card sets-card">-->
<!--          <div class="card__content">-->
<!--            <div class="sets">-->
<!--              <div class="card border-card card-in-folder">-->
<!--                <p class="card__text">-->
<!--                  Set Name-->
<!--                </p>-->
<!--                <div class="navigation">-->
<!--                  <a href="#" class="button bg-dark no-border">Show set</a>-->
<!--                  <form action="" method="delete">-->
<!--                    <button class="button bg-dark no-border" type="submit">Remove from folder</button>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card border-card card-in-folder">-->
<!--                <p class="card__text">-->
<!--                  Set Name-->
<!--                </p>-->
<!--                <div class="navigation">-->
<!--                  <a href="#" class="button bg-dark no-border">Show set</a>-->
<!--                  <form action="" method="delete">-->
<!--                    <button class="button bg-dark no-border" type="submit">Remove from folder</button>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card border-card card-in-folder">-->
<!--                <p class="card__text">-->
<!--                  Set Name-->
<!--                </p>-->
<!--                <div class="navigation">-->
<!--                  <a href="#" class="button bg-dark no-border">Show set</a>-->
<!--                  <form action="" method="delete">-->
<!--                    <button class="button bg-dark no-border" type="submit">Remove from folder</button>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card border-card card-in-folder">-->
<!--                <p class="card__text">-->
<!--                  Set Name-->
<!--                </p>-->
<!--                <div class="navigation">-->
<!--                  <a href="#" class="button bg-dark no-border">Show set</a>-->
<!--                  <form action="" method="delete">-->
<!--                    <button class="button bg-dark no-border" type="submit">Remove from folder</button>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card border-card card-in-folder">-->
<!--                <p class="card__text">-->
<!--                  Set Name-->
<!--                </p>-->
<!--                <div class="navigation">-->
<!--                  <a href="#" class="button bg-dark no-border">Show set</a>-->
<!--                  <form action="" method="delete">-->
<!--                    <button class="button bg-dark no-border" type="submit">Remove from folder</button>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </main>
  </div>
</body>

</html>