<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/variables.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/shared.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/edit-folder-view.css}">
  <title>Flashcards</title>
</head>

<body>
  <div class="wrapper">
    <header class="header" th:insert="header :: header_fragment"></header>
    <main class="main">
      <div class="folder-edit-view hidden-scroll">
        <div class="navigation folder-edit-view-nav">
          <a th:href="@{/folder}" class="button bg-dark dark-border">Go to all folders</a>

          <button class="button bg-dark dark-border auto-margin-left" type="reset">Clear</button>
          <button class="button bg-dark dark-border" type="submit" form="folder-edit-form">Save</button>
        </div>
        <form class="folder-edit-form" id="folder-edit-form"  th:action="@{/folder/create}" th:object="${folder}" th:method="POST">
          <div class="card folder-name">
            <textarea class="card__content dark-placeholder" type="text" title="Folder name"
                   th:field="*{name}" placeholder="Enter name of folder *" required></textarea>
          </div>
          <div class="card folder-description">
            <textarea class="card__content" title="Folder description"
                      th:field="*{description}" placeholder="Enter a description for the folder"></textarea>
          </div>
        </form>
      </div>
    </main>
  </div>
</body>

</html>