<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/variables.css">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/shared.css">
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/folder-view.css">
  <title>Flashcards</title>
</head>

<body>
  <div class="wrapper">
    <header class="header" th:insert="header :: header_fragment"></header>
    <main class="main">
      <div class="folder-view">
        <div class="navigation">
          <p>Are you sure you want to delete the Folder and all the Sets and Cards in the folder?</p>
          <form class="folder-edit-form" th:action="@{/folder/{id}/delete(id=${folder.id})}" th:object="${folder}" th:method="DELETE">
            <button class="button bg-dark dark-border" type="submit">Yes, delete folder (and go to create new folder)</button>
          </form>
          <a class="button bg-dark dark-border" th:href="@{/folder/{id}(id=${folder.id})}">No, back to folder</a>
        </div>
        <div class="card folder-card">
          <div class="card__content folder-card__content">
            <h2 class="second-title folder-card__title" th:text="${folder.name}">Folder name</h2>

            <div class="card card-in-set" th:each="set : ${setsOfCards}">

              <p class="card-in-set__text" th:text="|${set.name}|">
                Set name
              </p>
              <!--               not show -->
              <a th:href="@{/set/{id}(id=${set.id})}" class="button bg-dark no-border">Show set</a>

            </div>

            <a th:href="@{/set/create/{id}(id=${folder.id})}" class="button bg-dark dark-border auto-margin-left">Create new set in this folder</a>

<!--            <p class="card border-card">-->
<!--              Lorem ipsum dolor-->
<!--            </p>-->

          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>