<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/variables.css">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/shared.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/edit-card-view.css">
  <title>NataCardsProject</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__content">
        <a href="#" class="button bg-dark light-border">Flashcards</a>
        <div class="search-profile__container">
          <input class="input bg-dark light-border light-placeholder" type="text" placeholder="Search">
          <a href="./edit-card-view.html" class="button bg-dark light-border extra-bold-text">+</a>
          <a href="#" class="button bg-dark light-border extra-bold-text">?</a>
          <a class="profile">
            <div class="profile__logo">
              <img src="#" alt="">
            </div>
            <p class="profile__text">ProfileName cvcgvgvcdgvg
              cdcdcd
            </p>
          </a>
        </div>
      </div>
    </header>
    <main class="main">
      <form class="card-edit-view" action="">
        <div class="buttons">
          <a href="./set-view.html" class="button bg-dark dark-border">&#60; Back</a>
          <div class="free-space"></div>
          <button class="button bg-dark dark-border" type="reset">Clear</button>
          <button class="button bg-dark dark-border" type="submit">Save</button>
        </div>
        <div class="card set-card">
          <textarea class="card__content" name="set" id="set" placeholder="Enter name of set *" required></textarea>
        </div>
        <div class="card question-card">
          <textarea class="card__content" name="question" id="question" placeholder="Enter card question *"
            required></textarea>
        </div>
        <div class="card short-answer-card">
          <textarea class="card__content" name="short-answer" id="short-answer"
            placeholder="Enter short answer"></textarea>
        </div>
        <div class="card keywords-card">
          <textarea class="card__content" name="keywords" id="keywords"
            placeholder="Enter keywords, separated by commas"></textarea>
        </div>
        <div class="card extended-answer-card">
          <textarea class="card__content" name="extended-answer" id="extended-answer"
            placeholder="Enter extended-answer"></textarea>
        </div>
        <div class="card priority-card">
          <h2 class="list-title">Select a priority for studying:</h2>
          <ul class="list">
            <li class="list__item">
              <input type="radio" id="necessarily" name="priority" value="Necessarily">
              <label for="necessarily">Necessarily</label>
            </li>
            <li class="list__item">
              <input type="radio" id="preferably" name="priority" value="Preferably" checked>
              <label for="preferably">Preferably</label>
            </li>
            <li class="list__item">
              <input type="radio" id="maybe" name="priority" value="Maybe">
              <label for="maybe">Maybe</label>
            </li>
          </ul>
        </div>
        <div class="card knowledge-level-card">
          <h2 class="list-title">Select level of knowledge:</h2>
          <ul class="list knowledge-level__list">
            <li class="list__item">
              <input type="radio" id="0" name="knowledge-level" value="0" checked>
              <label for="0">0</label>
            </li>
            <li class="list__item">
              <input type="radio" id="1" name="knowledge-level" value="1">
              <label for="1">1</label>
            </li>
            <li class="list__item">
              <input type="radio" id="2" name="knowledge-level" value="2">
              <label for="2">2</label>
            </li>
            <li class="list__item">
              <input type="radio" id="3" name="knowledge-level" value="3">
              <label for="3">3</label>
            </li>
            <li class="list__item">
              <input type="radio" id="4" name="knowledge-level" value="4">
              <label for="4">4</label>
            </li>
            <li class="list__item">
              <input type="radio" id="5" name="knowledge-level" value="5">
              <label for="5">5</label>
            </li>
          </ul>
        </div>
      </form>
    </main>
  </div>
</body>

</html>