<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
</head>

<body>

<div class="header__content" th:fragment="header_fragment">
    <a href="#" class="button bg-dark light-border">Flashcards</a>
    <input class="input bg-dark light-border light-placeholder auto-margin-left" type="text" placeholder="Search">
    <div class="button bg-dark light-border extra-bold-text create-dropdown">
        <span>+</span>
        <div class="dropdown-content">
            <ul class="dropdown-list">
                <li class="dropdown-list__item">
                    <a th:href="@{/card/create}">New card</a>
                </li>
                <li class="dropdown-list__item">
                    <a th:href="@{/set/create}">New set</a>
                </li>
                <li class="dropdown-list__item">
                    <a th:href="@{/folder/create}">New folder</a>
                </li>
            </ul>
        </div>
    </div>
    <a href="#" class="button bg-dark light-border extra-bold-text">?</a>
    <a href="./sign-in-view.html" class="button bg-dark light-border">Sign in</a>
    <a href="./sign-up-view.html" class="button bg-dark light-border">Sign up</a>
    <div class="profile">
        <div class="profile-short-info">
            <div class="profile__logo">
                <img class="user-photo" src="../images/user-image.png" alt="user photo">
            </div>
            <p class="profile__text">User Name</p>
        </div>
        <div class="dropdown-content">
            <ul class="dropdown-list">
                <li class="profile-full-name info-text">
                    <p>FirstName</p>
                    <p>LastName</p>
                </li>
                <li class="info-text">
                    <p>SomeEmail@gmail.com</p>
                </li>
                <li class="dropdown-list__item">
                    <a href="#">Open profile</a>
                </li>
                <li class="profile-log-out">
                    <a href="./">Log out</a>
                </li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>