<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/variables.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/shared.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{css/profile-view.css}">
  <title>Flashcards</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__content">
        <a href="#" class="button bg-dark light-border">Flashcards</a>
        <a href="./index.html" class="button bg-dark light-border auto-margin-left">Search</a>
        <div class="button bg-dark light-border extra-bold-text create-dropdown">
          <span>+</span>
          <div class="dropdown-content">
            <ul class="dropdown-list">
              <li class="dropdown-list__item">
                <a href="./edit-card-view.html">New card</a>
              </li>
              <li class="dropdown-list__item">
                <a href="./edit-set-view.html">New set</a>
              </li>
              <li class="dropdown-list__item">
                <a href="./edit-folder-view.html">New folder</a>
              </li>
            </ul>
          </div>
        </div>
        <a href="./help-view.html" class="button bg-dark light-border extra-bold-text">?</a>
        <div class="profile">
          <div class="profile-short-info">
            <div class="profile__logo">
              <img class="user-photo" src="./img/user-image.png" alt="user photo">
            </div>
            <p class="profile__text">User Name</p>
          </div>
          <div class="dropdown-content">
            <ul class="dropdown-list">
              <li class="profile-full-name info-text">
                <p>FirstName</p>
                <p>LastName</p>
              </li>
              <li class="info-text">
                <p>SomeEmail@gmail.com</p>
              </li>
              <li class="dropdown-list__item">
                <a href="#">Open profile</a>
              </li>
              <li class="profile-log-out">
                <a href="./">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="profile-view">
        <div class="card recommended">
          <div class="card__content recommended__content">
            <h2 class="text-title">Recommended to be repeated today:</h2>
            <ul class="recommended__list">
              <li class="recommended__list-item">
                <a href="#" class="mini-block">Set name 1</a>
              </li>
              <li class="recommended__list-item">
                <a href="#" class="mini-block">Set name 222</a>
              </li>
              <li class="recommended__list-item">
                <a href="#" class="mini-block">Set name three</a>
              </li>
              <li class="recommended__list-item">
                <a href="#" class="mini-block">SetName4</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card calendar">
          <div class="card__content">
            <h2 class="text-title">Calendar of repetitions:</h2>
          </div>
        </div>
        <div class="card folders">
          <div class="card__content folders__content">
            <div class="card border-card folder__card">
              <div class="folder__title">
                <h2 class="text-title folder__title-text">Folder_Name</h2>
                <a class="button bg-dark dark-border" href="#" title="Edit folder">&#9998;</a>
              </div>
              <div class="folder__content">
                <a href="#" class="mini-block">Set_Name cdcvdgcdgcdgcgvcgvagycgcvgvfsvsd</a>
                <a href="#" class="mini-block">Set_Name</a>
                <a href="#" class="mini-block">Set_Name</a>
              </div>
            </div>
            <div class="card border-card folder__card">
              <div class="folder__title">
                <h2 class="text-title folder__title-text">Folder_Name</h2>
                <a class="button bg-dark dark-border" href="#" title="Edit folder">&#9998;</a>
              </div>
              <div class="folder__content">
                <a href="#" class="mini-block">Set_Name</a>
                <a href="#" class="mini-block">Set_Name</a>
                <a href="#" class="mini-block">Set_Name cdcvdgcdgcdgcgvcgvagycgcvgvfvdsvsd</a>
                <a href="#" class="mini-block">Set_Name</a>
                <a href="#" class="mini-block">Set_Name</a>
              </div>
            </div>
            <div class="card border-card folder__card">
              <div class="folder__title">
                <h2 class="text-title folder__title-text">Folder_Name</h2>
                <a class="button bg-dark dark-border" href="#" title="Edit folder">&#9998;</a>
              </div>
              <div class="folder__content">
                <a href="#" class="mini-block">Set_Name cdcvdgcdgcdgcgvcgvagycgcvgvfvdsvsd</a>
                <a href="#" class="mini-block">Set_Name</a>
                <a href="#" class="mini-block">Set_Name</a>
                <a href="#" class="mini-block">Set_Name</a>
                <a href="#" class="mini-block">Set_Name</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>