<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="stylesheet" th:href="@{/css/normalize.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/variables.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/styles.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/shared.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/header.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/home-view.css}">-->

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/variables.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/shared.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/home-view.css">
  <title>Flashcards</title>
</head>

<body>
  <div class="wrapper">
    <header class="header" th:insert="header :: header_fragment"></header>
    <main class="main">
      <div class="home-view hidden-scroll">
        <form class="card search-form" action="" method="post">
          <input class="search-form__input" type="text" placeholder="&#128270;" autofocus>
          <div class="horizontal-list search-form__radio">
            <label>
              <input type="radio" name="search-form" checked>
              all
            </label>
            <label>
              <input type="radio" name="search-form">
              own
            </label>
          </div>
          <button class="button bg-dark no-border search-form__button" type="submit">Search</button>
        </form>
        <div class="card search-results">
          <div class="card__content search-results-content">
            <div class="card border-card search-results-content__item">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis facere dolores maiores
                accusantium deleniti voluptates possimus qui temporibus error? Consequatur sapiente vitae tenetur odit
                quo accusamus hic fugit illum.
              </p>
              <a href="#" class="button bg-dark no-border">Show</a>
              <a href="#" class="button bg-dark no-border">Add</a>
            </div>
            <div class="card border-card search-results-content__item">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis facere dolores maiores
                accusantium deleniti voluptates possimus qui temporibus error? Consequatur sapiente vitae tenetur odit
                quo accusamus hic fugit illum.
              </p>
              <a href="#" class="button bg-dark no-border">Show</a>
              <a href="#" class="button bg-dark no-border">Add</a>
            </div>
            <div class="card border-card search-results-content__item">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis facere dolores maiores
                accusantium deleniti voluptates possimus qui temporibus error? Consequatur sapiente vitae tenetur odit
                quo accusamus hic fugit illum.
              </p>
              <a href="#" class="button bg-dark no-border">Show</a>
              <a href="#" class="button bg-dark no-border">Add</a>
            </div>
            <div class="card border-card search-results-content__item">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis facere dolores maiores
                accusantium deleniti voluptates possimus qui temporibus error? Consequatur sapiente vitae tenetur odit
                quo accusamus hic fugit illum.
              </p>
              <a href="#" class="button bg-dark no-border">Show</a>
              <a href="#" class="button bg-dark no-border">Add</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>