<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/variables.css">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/shared.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/set-view.css">
  <title>NataCardsProject</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__content">
        <a href="#" class="button bg-dark light-border">Flashcards</a>
        <div class="search-profile__container">
          <input class="input bg-dark light-border light-placeholder" type="text" placeholder="Search">
          <a href="./edit-card-view.html" class="button bg-dark light-border extra-bold-text">+</a>
          <a href="#" class="button bg-dark light-border extra-bold-text">?</a>
          <a class="profile">
            <div class="profile__logo">
              <img src="#" alt="">
            </div>
            <p class="profile__text">ProfileName cvcgvgvcdgvg
              cdcdcd
            </p>
          </a>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="set-view">
        <nav class="set-view__buttons">
          <a href="#" class="button bg-dark dark-border">Back</a>
          <a href="#" class="button bg-dark dark-border set-view__button-right">Learn</a>
          <a href="#" class="button bg-dark dark-border">Save set to file</a>
          <a href="#" class="button bg-dark dark-border">Edit set</a>
        </nav>
        <div class="card cards-container">
          <div class="card__content">
            <div class="card card-in-set">
              <p class="card-in-set__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae, itaque voluptates porro fugit vero esse, laborum inventore. Vel totam temporibus
                ratione.
              </p>
              <a href="#" class="button bg-dark no-border">Show card</a>
            </div>
            <div class="card card-in-set">
              <p class="card-in-set__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae
              </p>
              <a href="#" class="button bg-dark no-border">Show card</a>
            </div>
            <div class="card card-in-set">
              <p class="card-in-set__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae, itaque voluptates porro fugit vero esse, laborum inventore. Vel totam temporibus
                ratione.
              </p>
              <a href="#" class="button bg-dark no-border">Show card</a>
            </div>
            <div class="card card-in-set">
              <p class="card-in-set__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae, itaque voluptates porro fugit vero esse, laborum inventore. Vel totam temporibus
                ratione.
              </p>
              <a href="#" class="button bg-dark no-border">Show card</a>
            </div>
            <div class="card card-in-set">
              <p class="card-in-set__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae, itaque voluptates porro fugit vero esse, laborum inventore. Vel totam temporibus
                ratione.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae, itaque voluptates porro fugit vero esse, laborum inventore. Vel totam temporibus
                ratione.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae, itaque voluptates porro fugit vero esse, laborum inventore. Vel totam temporibus
                ratione.
              </p>
              <a href="#" class="button bg-dark no-border">Show card</a>
            </div>
            <div class="card card-in-set">
              <p class="card-in-set__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae, itaque voluptates porro fugit vero esse, laborum inventore. Vel totam temporibus
                ratione.
              </p>
              <a href="#" class="button bg-dark no-border">Show card</a>
            </div>
            <div class="card card-in-set">
              <p class="card-in-set__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae, itaque voluptates porro fugit vero esse, laborum inventore. Vel totam temporibus
                ratione.
              </p>
              <a href="#" class="button bg-dark no-border">Show card</a>
            </div>
            <div class="card card-in-set">
              <p class="card-in-set__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odio earum veritatis dolorum mollitia sit
                ipsa modi vitae, itaque voluptates porro fugit vero esse, laborum inventore. Vel totam temporibus
                ratione.
              </p>
              <a href="#" class="button bg-dark no-border">Show card</a>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</body>

</html>