<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/shared.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/set-view.css}">
    <title>Flashcards</title>
</head>

<body>
<div class="wrapper">
    <header class="header" th:insert="header :: header_fragment"></header>
    <main class="main">
        <div class="set-view">
            <nav class="navigation set-navigation">
                <a th:href="@{/folder/{id}/(id=${setViewByIdDto.folderId})}" class="button bg-dark dark-border">Go to folder</a>
                <a th:href="@{/set/{id}/(id=${setViewByIdDto.previousOrLastSetId})}" class="button bg-dark dark-border auto-margin-left">&#60; Previous set in this folder</a>
                <a th:href="@{/set/{id}/(id=${setViewByIdDto.nextOrFirstSetId})}" class="button bg-dark dark-border auto-margin-right">Next set in this folder &#62;</a>

                <div th:if="${not #lists.isEmpty(cards)}">
                <a th:href="@{/card/{id}/learning(id=${setViewByIdDto.firstCardId})}" class="button bg-dark dark-border">Learn</a>
                </div>

                <a th:href="@{/card/create/{id}(id=${setViewByIdDto.id})}" class="button bg-dark dark-border">New card in this set</a>
                <a th:href="@{/set/{id}/edit(id=${setViewByIdDto.id})}" class="button bg-dark dark-border">Edit set</a>
                <a th:href="@{/set/{id}/delete(id=${setViewByIdDto.id})}" class="button bg-dark dark-border">Delete set</a>
            </nav>
            <h2 class="second-title set-title" th:text="|${setViewByIdDto.folderName}: ${setViewByIdDto.name}|" title="Folder name: Set name"></h2>

            <div class="card set-description">
                <p class="set-description__text" th:text="|${setViewByIdDto.description}|" title="Set description"></p>
            </div>

            <div class="card cards-container">
                <div class="card__content set-card-content">
                    <div class="card card-in-set" th:each="card : ${cards}">
                        <p class="card-in-set__text" th:text="|${card.question}|" title="Card question"></p>
                        <div class="card-buttons">
                            <a th:href="@{/card/{id}(id=${card.id})}" class="button bg-dark no-border">Show card</a>
                            <a th:href="@{/card/{id}/delete(id=${card.id})}" class="button bg-dark no-border">Delete card</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
</body>

</html>