<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/set-view.css">
    <title>Flashcards</title>
</head>

<body>
<div class="wrapper">
    <header class="header" th:insert="header :: header_fragment"></header>
    <main class="main">
        <div class="set-view">
            <nav class="set-view__buttons">
                <!--                <p th:text="Set name: |${setOfCards.name}|. Set id: |${setOfCards.id}|"></p>-->
<!--                <p th:text="|Set name: ${setOfCards.name}|"></p>-->
                <a href="#" class="button bg-dark dark-border">&#60; Back</a>
                <a href="#" class="button bg-dark dark-border auto-margin-left">Learn</a>
                <a href="#" class="button bg-dark dark-border">Save set to file</a>
                <a th:href="@{/set/{id}/edit(id=${setOfCards.id})}" class="button bg-dark dark-border">Edit set</a>
            </nav>
            <div class="card cards-container">
                <div class="card__content">

                    <div class="card card-in-set" th:each="card : ${cards}">
                        <p class="card-in-set__text" th:text="|${card.question}|">
                            Card question
                        </p>
                        <a th:href="@{/card/{id}(id=${card.id})}" class="button bg-dark no-border">Show card</a>
                    </div>

                    <!--                    <div class="card card-in-set" th:each="card : ${cards}">-->
                    <!--                        <p class="card-in-set__text" th:text="|${card.question}|">-->
                    <!--                            Card question-->
                    <!--                        </p>-->
                    <!--                        <a href="#" class="button bg-dark no-border">Show card</a>-->
                    <!--                    </div>-->

                </div>
            </div>

        </div>
    </main>
</div>
</body>

</html>