<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/variables.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/shared.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/sign-in-view.css}">
  <title>NataCardsProject</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__content">
        <a href="#" class="button bg-dark light-border">Flashcards</a>
        <div class="search-profile__container">
          <input class="input bg-dark light-border light-placeholder" type="text" placeholder="Search">
          <a href="./edit-card-view.html" class="button bg-dark light-border extra-bold-text">+</a>
          <a href="#" class="button bg-dark light-border extra-bold-text">?</a>
          <a href="./sign-in-view.html" class="button bg-dark light-border">Sign in</a>
          <a href="./sign-up-view.html" class="button bg-dark light-border">Sign up</a>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="sign-in">
        <h2 class="sign-in__title">Sign in</h2>
        <form class="sing-in-form" action="./index.html">
          <input class="input bg-light no-border dark-placeholder" type="email" placeholder="Email" autofocus required>
          <input class="input bg-light no-border dark-placeholder" type="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            placeholder="Password" required>
          <button class="button bg-dark dark-border" type="submit">Sign in</button>
        </form>
      </div>
    </main>
  </div>
</body>

</html>