<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/variables.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/shared.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/edit-profile-view.css}">
  <title>Flashcards</title>
</head>

<body>
  <div class="wrapper">
    <header class="header" th:insert="header :: header_fragment"></header>
    <main class="main">
      <div class="edit-profile-view hidden-scroll">
        <div class="navigation edit-profile-navigation">
          <a th:href="@{/user}" class="button bg-dark dark-border">Back to users</a>

          <div th:if="${user.enable} == false">
            <a th:href="@{/block}" class="button bg-dark no-border">Unblock</a>
          </div>
          <div th:if="${user.enable} == true">
            <a th:href="@{/block}" class="button bg-dark no-border">Block</a>
          </div>

        </div>
        <div class="card edit-profile-form user-info-card" th:object="${user}">


<!--          <label class="photo-wrapper tooltip" for="avatar">-->
<!--            <img class="user-photo" th:href="@{/images/user-image.png}" alt="user photo">-->
<!--            <span class="tooltip-text">Select new profile photo</span>-->
<!--          </label>-->
<!--          <input class="download-photo-input" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"-->
<!--            title="Select photo">-->

          <div class="user-info-card__info-block">
            <h2 class="user-info-card__title bold-text">
              Personal information:
            </h2>
            <ul class="user-info-card__info-list">
              <li class="user-info-card__info-list-item">
                <span class="caption-text">First name:</span>
                <textarea class="" th:text="*{firstName}"></textarea>
              </li>
              <li class="user-info-card__info-list-item">
                <span class="caption-text">Last name:</span>
                <textarea class="" th:text="*{lastName}"></textarea>
              </li>
              <li class="user-info-card__info-list-item">
                <span class="caption-text">Email:</span>
                <textarea class="" th:text="*{email}"></textarea>
              </li>
              <li class="user-info-card__info-list-item">
                <span class="caption-text">Role:</span>
                <textarea class="" th:text="*{role}"></textarea>
              </li>
              <li class="user-info-card__info-list-item">
                <span class="caption-text">Enable:</span>
                <textarea class="" th:text="*{enable}"></textarea>
              </li>
<!--              <li class="user-info-card__info-list-item">-->
<!--                <span class="caption-text">New photo (link):</span>-->
<!--                <input class="" type="text" th:field="*{avatar}">-->
<!--              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>