<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/variables.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/shared.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/admin-view.css}">
  <title>Flashcards</title>
</head>

<body>
  <div class="wrapper">
    <header class="header" th:insert="header :: header_fragment"></header>
    <main class="main">
      <div class="admin-view hidden-scroll">
        <form class="card search-form" th:action="@{/user}" th:method="PUT">
          <input class="search-form__input" type="text" id="search" name="search" placeholder="Search user">
          <button class="button bg-dark no-border" type="submit">Search</button>
        </form>
        <div class="card users-card">
          <div class="card__content users-card-content">

            <div class="card border-card user-info" th:each="user : ${users}">
              <div class="user-name">
                <p th:text="|${user.firstName}|"></p>
                <p th:text="|${user.lastName}|"></p>
              </div>
              <p class="auto-margin" th:text="|${user.email}|">UserEmail@gmail.com</p>
              <div th:if="${user.enable} == false">
                <p class="button complaint">blocked</p>
              </div>
              <a th:href="@{/user/{id}(id=${user.id})}" class="button bg-dark no-border">User info</a>
            </div>

          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>